---
import { t, astroI18n } from 'astro-i18n';
const { data } = await fetch('http://localhost:4321/api/data').then((res) => res.json());
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{t('title')}</h1>
		<p>Locale: {astroI18n.locale}</p>
		<p>API data: {data}</p>
	</body>
</html>
